<!doctype html>
<html lang="zh">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery JS,Bootstrap CSS -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <title>{% block title %}网页标题{% endblock %}</title>
</head>

<body>
<div class="container-fluid">
    <!-- 第一个区域: 导航区 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">网页标题</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">功能一</a>
                </li>
                <!-- 其他导航链接... -->
            </ul>
        </div>
    </nav>

    <!-- 内容区 -->
    <div class="row mt-3">
        <!-- 第三个区域: 搜索和内容筛选区 -->
        <div class="col-lg-3">
            <h4>搜索和筛选</h4>
            <!-- 添加搜索和筛选表单... -->
        </div>

        <!-- 第二个区域: 内容展示区 -->
        <div class="col-lg-9">
            <h4>{% block content_title %}内容展示{% endblock %}</h4>
            <table class="table">
                {% block content_table %}{% endblock %}

            </table>
        </div>

    </div>
</div>

</body>
</html>
